# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# npm package manager cache
.npm/

# macOS specific
.DS_Store

# VS Code specific
.vscode/

# Editor directories and files
.idea/
.project
.classpath
*.sublime-project
*.sublime-workspace

# Frontend build output (if you build your frontend here later)
build/
dist/
out/

.db/